* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    /* font Style */
    --family-primary:"Inter", sans-serif;
  
    /* color */
    --color-accent:#4CAF4F;
    --color-white:#FFFFFF;
    --color-black:#263238;
    --color-light-gray:#F5F7FA;
    --color-text-dark:#4D4D4D;
    --color-text-body:#717171;
    --color-content-bg:#eef5f0;


}
html{
    font-size: 16px;
    font-family: var(--family-primary);
}

body {
    color: var(--color-text-body);
    scroll-behavior: smooth;
}

/* Nav section Start*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.logo img {
    height: 24px; /* Adjust logo size */
    margin-right: 8px;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--color-text-dark);
    font-size: 16px;
}

.nav-links a:hover {
    color: var(--color-accent);
}

.register-btn {
    background-color:var(--color-accent);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.register-btn:hover {
    background-color: #218838;
}


/* Nav section End */

/* section-1 Start*/

.section-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
    background-color: #f4f6f5;
}

.nexcent-content {
    max-width: 500px;
}

.section-1 h1 {
    font-size: 38px;
    color: #333;
    font-weight: bold;
}

.section-1 h1 span {
    color: var(--color-accent); 
}

.section-1 p {
    font-size: 16px;
    color: var(--color-text-body);
    margin: 15px 0 25px;
}

.register-btn {
    background-color:var(--color-accent);
    color: var(--color-white);
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.register-btn:hover {
    background-color: #218838;
}

.hero-image img {
    width: 400px; 
}


/* section-1 End */

/* Client Section Start */

.clients-section {
    padding: 40px 20px;
    background-color:var(--color-light-gray);
    text-align: center;
    margin: 28px;
}
.clients-section h2 {
    font-size: 24px;
    color: var(--color-text-dark);
    margin-bottom: 10px;
}
.clients-section p {
    font-size: 16px;
    color: var(--color-text-body);
    margin-bottom: 20px;
}
.clients-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
}
.clients-logos img {
    width: 30px;
    height: auto;
}

/* Client Section End */


/* Community Section Start */

.community-section {
    padding: 50px 20px;
    text-align: center;
}
.community-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--color-text-dark);
}
.community-section p {
    font-size: 16px;
    color: var(--color-text-body);
    margin-bottom: 30px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}
.card {
    background: var(--color-white);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
 
}

.card img {
    width: 50px;
    margin-bottom: 15px;
}
.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--color-text-dark);
}
.card p {
    font-size: 14px;
    color:var(--color-text-body);
}

/* Community Section End */


/* Unlock Section Start */
.unlock {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
    gap: 33px;
}
.image-unlock {
    flex: 1;
    text-align: center;
}
.image-container img {
    width: 100%;
    max-width: 400px;
}
.text-unlock {
    flex: 1;
    padding: 20px;
}
.text-unlock h2 {
    font-size: 28px;
    color: var(--color-text-dark);
    margin-bottom: 15px;
}
.text-unlock p {
    font-size: 16px;
    color: var(--color-text-body);
    line-height: 1.6;
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color:var(--color-accent);
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
  
}
/* Unlock Section End */
    .achievements-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 50px 10%;
            background-color: #f2f7f5;
        }
        .text-content {
            max-width: 400px;
        }
        .text-content h2 {
            font-size: 28px;
            color: #333;
            margin-bottom: 10px;
        }
        .text-content span {
            color: #28a745;
            font-weight: bold;
        }
        .text-content p {
            font-size: 16px;
            color: #666;
            margin-bottom: 20px;
        }
        .stats-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        .stat-box {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .stat-box img {
            width: 40px;
            height: 40px;
        }
        .stat-info {
            font-size: 16px;
        }
        .stat-info strong {
            font-size: 22px;
            color: #333;
            display: block;
        }
        .stat-info span {
            font-size: 14px;
            color: #666;
        }

/* Achievements Section Start */
.achievements-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    background-color: var(--color-white);
    gap: 33px;
}
.text-achievements {
    max-width: 400px;
}
.text-achievements h2 {
    font-size: 28px;
    color: var(--color-text-dark);
    margin-bottom: 10px;
}
.text-achievements span {
    color: var(--color-accent);
    font-weight: bold;
}
.text-achievements p {
    font-size: 16px;
    color: var(--color-text-body);
    margin-bottom: 20px;
}
.stats-achievements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.stat-box {
    display: flex;
    align-items: center;
    gap: 10px;
}
.stat-box img {
    width: 40px;
    height: 40px;
}
.stat-info {
    font-size: 16px;
}
.stat-info strong {
    font-size: 22px;
    color: var(--color-text-dark);
    display: block;
}
.stat-info span {
    font-size: 14px;
    color: var(--color-text-body);
}
/* Achievements Section End */

/* Section-6 start */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
}
.image-container {
    flex: 1;
    text-align: center;
}
.image-container img {
    width: 100%;
    max-width: 400px;
}
.text-container {
    flex: 1;
    padding: 20px;
}
.text-container h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}
.text-container p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
  
}
/* Section-6 start */
.site-design {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
}
.image-section-6 {
    flex: 1;
    text-align: center;
}
.image-section-6 img {
    width: 100%;
    max-width: 400px;
}
.text-section-6{
    flex: 1;
    padding: 20px;
}
.text-section-6 h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}
.text-section-6 p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}
/* Section -6 End */

/* Section-7 Start */
.testimonial-container {
    display: flex;
    align-items: center;
    background: #eef5f0;
    padding: 40px;
    border-radius: 10px;
    max-width: 100%;
    margin: 50px auto;
}
.image-section-7{
    flex: 1;
    text-align: center;
}
.image-section-7 img {
    width: 80%;
    border-radius: 10px;
}
.text-section-7 {
    flex: 2;
    padding-left: 20px;
}
.text-section-7 p {
    font-size: 16px;
    color: var(--color-text-body);
    line-height: 1.6;
}
.customer-name {
    color: var(--color-accent);
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}
.customer-role {
    font-size: 14px;
    color: #888;
}
.client-logos {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.client-logos img {
    height: 30px;
    margin-right: 15px;
}
.meet-customers {
    color: var(--color-accent);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
/* Section-7 End */

/* Section-8 Start*/
.marketing {
    max-width: 1100px;
    margin: 50px auto;
    text-align: center;
}
h2 {
    color: var(--color-text-dark);
    font-size: 28px;
    margin-bottom: 10px;
}
p {
    color: var(--color-text-body);
    font-size: 16px;
    margin-bottom: 30px;
}
.blog-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.blog-card {
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 320px;
   
}

.blog-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.blog-content {
    padding: 20px;
}
.blog-content h3 {
    font-size: 18px;
    color: var(--color-text-dark);
    margin-bottom: 10px;
}
.readmore {
    color:var(--color-accent);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
/* Section-8 End*/


/* panal Work Start */
.panel-work{
    background-color: var(--color-content-bg);
   
}
.panel-work h2{
    color: #263238;
}
/* panal Work End */


/* Footer Section Start */


.footer {
    background-color: #1a1f23;
    color: var(--color-white);
    padding: 50px 80px;
    text-align: center;
}

.footer-top h2 {
    font-size: 44px;
    margin-bottom: 20px;
}

.cta-btn {
    background-color: #0671E0;
    color: var(--color-white);
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-top{
    background-color: var(--color-white);
    color: #1a1f23;
    padding: 50px ;
    text-align: center;
  
    border-radius: 1px solid var(--color-text-body);
  
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.footer-left {
    max-width: 250px;
}
.footer-left p{
    font-size: 10px;
    color: var(--color-white);
}

.footer-logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-logo img {
    height: 24px;
    margin-right: 8px;
}

.social-icons a {
    color:var(--color-white);
    margin-right: 10px;
    font-size: 20px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.footer-column h4 {
    font-size: 13px;
    margin-bottom: 10px;
}

.footer-column a {
    display: block;
    color: #bbb;
    text-decoration: none;
    margin: 5px 0;
    font-size: 9.74px;
}

.footer-column a:hover {
    color: var(--color-white);
}

.email-box {
    display: flex;
    background: #2d3236;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}
.email-box img{
margin-right: 10px;
}
.email-box input {
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
    color: var(--color-white);
    outline: none;
}

.email-box button {
    background: var(--color-accent);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: var(--color-white);
   
}

.email-box button:hover {
    background: var(--color-accent);
}






