* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    /* font Style */
    --family-primary: "Inter", sans-serif;

    /* color */
    --color-accent: #4CAF4F;
    --color-white: #FFFFFF;
    --color-black: #263238;
    --color-light-gray: #F5F7FA;
    --color-text-dark: #4D4D4D;
    --color-text-body: #717171;
    --color-content-bg: #eef5f0;
    --color-neutral-white:#FFFFFF;
    --color-neutral-silver:#F5F7FA;


}


html {
    font-size: 16px;
    
}

body {
    color: var(--color-text-body);
    scroll-behavior: smooth;
    font-family: var(--family-primary);
    line-height: 1.6;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;

}
/* Nav section Start*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--color-white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 5px;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-text-body);
    font-size: 16px;
    padding-left: 90px;
    
}

.register-btn {
    background-color:var(--color-accent);
    color:var(--color-white);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 44%;
    background-color:var(--color-text-dark);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    transition: 0.3s ease-in-out;
}

.sidebar a {
    color:var(--color-white);
    text-decoration: none;
    padding: 15px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .register-btn {
    background-color:var(--color-accent);
    text-align: center;

}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color:var(--color-white);
    background: none;
    border: none;
    cursor: pointer;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
.nav-links :hover{
    color: var(--color-accent);
}

/* Nav section End */

/* section-1 Start*/

.section-1 {
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: var(--color-content-bg);
    flex-direction: row;
   
}

.section1-contant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nexcent-content {
    max-width: 50%;
}

.nexcent-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.3;
    color: var(--color-text-dark);
}
.nexcent-content span{
    color: var(--color-accent);
}
.nexcent-content p {
    font-size: 1rem;
    color: var(--color-text-body);
    margin: 20px 0;
}

.nexcent-image {
    max-width: 45%;
    padding-top: 30px;
}

.nexcent-image img {
    width: 100%;
    height: auto;
}
.dot  {
    padding-top: 30px;
    text-align: center;;
 }



/* section-1 End */

/* Client Section Start */

.clients-section {
    text-align: center;
    padding: 40px;

}
.clients-section h2{
    color: var(--color-text-dark);
}
.clients-section p{
    color: var(--color-text-body);
}

.clients-logos {
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
    
   

}

.clients-logos img {
    max-width: 100px;
    height: auto;
    
}
/* Client Section End */


/* Community Section Start */

.community-section {
    padding: 50px 20px;
    text-align: center;
}

.community-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--color-text-dark);
    text-align: center;
}
.community-section h2 span{
    display: block;
}

.community-section p {
    font-size: 16px;
    color: var(--color-text-body);
    margin-bottom: 30px;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.card {
    background: var(--color-white);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.card img {
    width: 50px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--color-text-dark);
    
}

.card p {
    font-size: 14px;
    color: var(--color-text-body);
}

/* Community Section End */


/* Unlock Section-4 Start */
.section-4 {
    padding: 60px 20px;
}

.unlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    gap: 40px;
}

.image-container {
    flex: 1;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text-unlock {
    flex: 1;
    max-width: 500px;
}

.text-unlock h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.text-unlock p {
    font-size: 1rem;
    color: var(--color-text-body);
    line-height: 1.6;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color:var(--color-accent);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 5px;
}

/* Unlock Section-4 End */


/* Achievements Section Start */
.achievements-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    background-color: var(--color-light-gray);
    gap: 33px;
}

.text-achievements {
    max-width: 400px;
}

.text-achievements h2 {
    font-size: 28px;
    color: var(--color-text-dark);
    margin-bottom: 10px;
}

.text-achievements span {
    color: var(--color-accent);
    font-weight: bold;
}

.text-achievements p {
    font-size: 16px;
    color: var(--color-text-body);
    margin-bottom: 20px;
}

.stats-achievements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.stat-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stat-box img {
    width: 40px;
    height: 40px;
}

.stat-info {
    font-size: 16px;
}

.stat-info strong {
    font-size: 22px;
    color: var(--color-text-dark);
    display: block;
}

.stat-info span {
    font-size: 14px;
    color: var(--color-text-body);
}

/* Achievements Section End */



/* Section-6 start */
.site-design {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
}

.image-section-6 {
    flex: 1;
    text-align: center;
}

.image-section-6 img {
    width: 100%;
    max-width: 400px;
}

.text-section-6 {
    flex: 1;
    padding: 20px;
}

.text-section-6 h2 {
    font-size: 28px;
    color: var(--color-text-dark);
    margin-bottom: 15px;
}
.text-section-6 h2 span{
  display: block;
}

.text-section-6 p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

/* Section -6 End */


/* Section-7 Start */
.testimonial-container {
    display: flex;
    align-items: center;
    background: #eef5f0;
    padding: 40px;
    border-radius: 10px;
    max-width: 100%;
    margin: 50px auto;
}

.image-section-7 {
    flex: 1;
    text-align: center;
}

.image-section-7 img {
    width: 80%;
    border-radius: 10px;
}

.text-section-7 {
    flex: 2;
    padding-left: 20px;
}

.text-section-7 p {
    font-size: 16px;
    color: var(--color-text-body);
    line-height: 1.6;
}

.customer-name {
    color: var(--color-accent);
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.customer-role {
    font-size: 14px;
    color: #888;
}

.client-logos {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.client-logos img {
    height: 30px;
    margin-right: 15px;
}

.meet-customers {
    color: var(--color-accent);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

/* Section-7 End */


/* Section-8 Start*/
.section-8{
    padding: 10px 0;
    text-align: center;
}
.section-8 h3{
    color: var(--color-text-dark);
    font-size: 25px;
}
.craft{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    
}
.craft a{
    color: var(--color-accent);
}
.craft p{
    color: var(--color-text-body);
    margin-bottom: 10px;
}
.images{
    position: relative;
}
.craft-items{
    position: absolute;
    background: var(--color-white);
    top: 70%;
    width: 80%;
    box-shadow: 0px 1px 10px -2px gray;
    transform: translateX(-50%); /* Adjusting for exact center */
    left: 50%;
    padding: 10px;
    border-radius: 5px;
    
}
#craft-con{
    width: 35%;
    margin: 20px auto;
}

/* Section-8 End*/


/* panal Work Start */
#section-9{
    background: var(--color-content-bg);
    text-align: center;
    padding: 35px 0;
    margin-top: 80px;
}
#section-9 h2{
    font-size: 50px;
    max-width: 100%;
    margin: 10px auto;
    color: #263238;
}
#section-9 h2 span{
    display: block;
}
.btn-9{
    display: inline-block;
    padding: 12px 20px;
    background-color:#0671E0;
    color: var(--color-neutral-white);
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}
/* panal Work End */


/* Footer Section Start */





.footer {
    background-color: #111;
    padding: 40px 20px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}
.footer-left {
    max-width: 300px;
}
.footer-left p{
    color: var(--color-neutral-silver);
    padding: 10px;
}
.footer-left p span{
    display: block;
}
.footer-left .logo {
    font-size: 24px;
    font-weight: bold;
}


.social-icons {
    margin-top: 10px;
}
.social-icons i {
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
}
.column {
    margin-right: 40px;
}
.column h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--color-neutral-white);
}
.column a {
    display: block;
    color: var(--color-neutral-silver);
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
}
.subscribe .email-box {
    display: flex;
    border: 1px solid #444;
    border-radius: 5px;
    overflow: hidden;
}
.subscribe input {
    padding: 10px;
    border: none;
    outline: none;
    flex: 1;
    background-color: #222;
    
}
.footer-links a:hover{
    text-decoration: underline 2px solid #686968;
   
}

/* Footer Section End */